﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="mamber_info.aspx.cs" Inherits="hangout.mamber_info" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style>
        #main tr:nth-child(2n+1) { background-color:rgba(182, 255, 0,0.2);
  text-align:left;font-weight:bold;font-size:14pt;font-family:微軟正黑體;
        }
           #main tr:nth-child(2n) {
  text-align:left;font-weight:bold;font-size:14pt;font-family:微軟正黑體;
        }
    </style>
</asp:Content>

    
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="row" id="table1">
        <h2><asp:Label ID="Label1" runat="server" Text="Label"></asp:Label></h2>
             <table class="table" id="main">
                 <tr>
                      <td class="col-md-4">帳號:<asp:Label ID="Label2" runat="server" Text=""></asp:Label></td>
                      <td class="col-md-4">學歷:<asp:Label ID="Label3" runat="server" Text=""></asp:Label></td>
                    <td class="col-md-4"></td>
                 </tr>
                 
             </table>

    </div>
</asp:Content>
