﻿<%@ Page Title="" Language="C#" MasterPageFile="~/forgot.Master" AutoEventWireup="true" CodeBehind="rebootmail.aspx.cs" Inherits="hangout.rebootmail" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>驗證!!<br /><small>您的驗證信已經寄出。請至信箱收信，完成後續程序。</small></h1>
     <div  style="text-align:center;font-size:16pt;margin-top:650px;"><span id="motion">步驟 2/4 </span><asp:LinkButton ID="cancel" runat="server" CausesValidation="false"><a id="back" href="login.aspx" >回到登入頁</a></asp:LinkButton></div>
</asp:Content>
