﻿<%@ Page Title="" Language="C#" MasterPageFile="~/forgot.Master" AutoEventWireup="true" CodeBehind="reoot_sucess.aspx.cs" Inherits="hangout.reoot_sucess" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>完成!!<br /><small>您的密碼已經重置。下次登入時請使用新密碼。</small></h1>
     <div  style="text-align:center;font-size:16pt;margin-top:650px;"><span id="motion">步驟 4/4 </span><asp:LinkButton ID="cancel" runat="server" CausesValidation="false"><a id="back" href="login.aspx" >回到登入頁</a></asp:LinkButton></div>
</asp:Content>
